.hero__container{
  padding: 0em 1em 2em 4.25em;
}

.hero__title{
 font-size:3.25em;
  line-height: 145%;
  margin-bottom: 0.35em;
  margin-top: -8px;
  @include MQ(SM){
    margin-top: 0px;
  }
}

.hero_byline{
  font-size:2.5em;
  line-height: 125%;
  font-family: "aktiv-grotesk-std",sans-serif;
  margin-bottom: 1em;
}

