.project__container{
  text-align: center;
}

.project__img{
  margin-bottom: 2em;
}

.project__details{
  margin-top: 0 !important;
  text-transform: uppercase !important;
  font-size: 1em !important;
}

